<h3>User <%= review.user_id %>'s review</h3>
<p><strong>Rating:</strong> <%= review.rating %></p>
<p><strong>Description:</strong> <%= review.description %></p>
<% if current_user && review.user_id == current_user.id %>
  <%= link_to "Delete Comment", [@product, review], method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>